In [1]:
import pandas as pd

In [6]:
import os

In [7]:
os.getcwd()

'/Users/pruthvipatel/Documents/dengai/notebooks'

In [11]:
training_data_features = pd.read_csv('../data/raw/training_data_features.csv')
training_data_labels = pd.read_csv('../data/raw/training_data_labels.csv')

In [12]:
training_data_features.shape

(1456, 24)

In [13]:
training_data_features.columns

Index(['city', 'year', 'weekofyear', 'week_start_date', 'ndvi_ne', 'ndvi_nw',
       'ndvi_se', 'ndvi_sw', 'precipitation_amt_mm', 'reanalysis_air_temp_k',
       'reanalysis_avg_temp_k', 'reanalysis_dew_point_temp_k',
       'reanalysis_max_air_temp_k', 'reanalysis_min_air_temp_k',
       'reanalysis_precip_amt_kg_per_m2',
       'reanalysis_relative_humidity_percent', 'reanalysis_sat_precip_amt_mm',
       'reanalysis_specific_humidity_g_per_kg', 'reanalysis_tdtr_k',
       'station_avg_temp_c', 'station_diur_temp_rng_c', 'station_max_temp_c',
       'station_min_temp_c', 'station_precip_mm'],
      dtype='object')

In [14]:
training_data_labels.shape

(1456, 4)

In [15]:
training_data_labels.head()

  city  year  weekofyear  total_cases
0   sj  1990          18            4
1   sj  1990          19            5
2   sj  1990          20            4
3   sj  1990          21            3
4   sj  1990          22            6

In [ ]:
training_data = training_data_features.j